# Data Cleaning with Pandas

In [1]:
import pandas as pd

## Catch-Up from Yesterday

## Reshaping a DataFrame

### `.pivot()` and `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [2]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
uci.pivot(values = 'sex', columns = 'target').head()

target   0    1
0      NaN  1.0
1      NaN  1.0
2      NaN  0.0
3      NaN  1.0
4      NaN  0.0

In [5]:
uci.pivot_table(values = 'chol', index = 'sex', columns = 'target', aggfunc = 'mean')

target           0           1
sex
0       274.958333  256.750000
1       246.061404  230.989247

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [6]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [7]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_1',
          rsuffix = '_2').head()

   age  HP_1  HP_2
0   63   142   100
1   33    47   200

### `.merge()`

In [8]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [9]:
states = pd.read_csv('states.csv', index_col = 0)
states

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

In [10]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  rachel  200         TX    TX      alamo      Austin
4  alison  300         DC    DC   district  Washington

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [14]:
pd.concat([ds_chars, states], axis=1)

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    TX      alamo      Austin
2    alan  170         TX    DC   district  Washington
3  alison  300         DC    OH    buckeye    Columbus
4  rachel  200         TX    OR     beaver       Salem

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [15]:
ds_chars.head()

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [16]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

     name    variable value
0    greg          HP   200
1   miles          HP   200
2    alan          HP   170
3  alison          HP   300
4  rachel          HP   200
5    greg  home_state    WA
6   miles  home_state    WA
7    alan  home_state    TX
8  alison  home_state    DC
9  rachel  home_state    TX

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

Now, we'll need to download the two data files that we need. I will send those zipped files to you in Slack.


Note that there are spaces in the file name. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [20]:
sales_df = pd.read_csv('data/Real Property Sales.zip')

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [18]:
sales_df.head().T

,0,1,2,3,4
ExciseTaxNbr,2687551,1235111,2704079,2584094,1056831
Major,138860,664885,423943,403700,951120
Minor,110,40,50,715,900
DocumentDate,08/21/2014,07/09/1991,10/11/2014,01/04/2013,04/20/1989
SalePrice,245000,0,0,0,85000
RecordingNbr,20140828001436,199203161090,20141205000558,20130110000910,198904260448
Volume,,071,,,117
Page,,001,,,053
PlatNbr,,664885,,,951120
PlatType,,C,,,P
PlatLot,,B102,,,90
PlatBlock,,,,,
SellerName,WENKLE NOEL SMITH -TRUSTEE ...,HERRMAN JEFFREY A+PAULINE A ...,STEPHENS ANTHONY P ...,PASTORS EDWIN ...,STRATHY FLORENCE G ...
BuyerName,ALEXANDER APRIL ...,HERRMAN PAULINE A TTEE ...,STEPHENS ANTHONY P ...,PASTORS KHRISTINA ...,PORTER DONALD D+EVELYN V ...
PropertyType,3,3,3,3,3
PrincipalUse,6,0,6,6,0
SaleInstrument,3,26,15,15,2
AFForestLand,N,N,N,N,N
AFCurrentUseLand,N,N,N,N,N
AFNonProfitUse,N,N,N,N,N
AFHistoricProperty,N,N,N,N,N
SaleReason,1,18,18,11,1
PropertyClass,8,3,8,8,9
SaleWarning,,11,18 31 51,18 31 38,49

In [24]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049216 entries, 0 to 2049215
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(7), object(17)
memory usage: 375.2+ MB

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [25]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']]

In [26]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049216 entries, 0 to 2049215
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.5+ MB

In [27]:
bldg_df = pd.read_csv('data/Residential Building.zip')

/Users/stuartmurphy/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Another warning! Which column has index 11?

In [28]:
bldg_df.columns[11]

'ZipCode'

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [29]:
bldg_df.head().T

,0,1,2,3,4
Major,4100,4100,4100,4100,4100
Minor,14,14,165,175,406
BldgNbr,1,2,1,1,1
NbrLivingUnits,1,1,1,1,1
Address,3251 S 148TH ST 98168,3251 S 148TH ST 98168,4001 S 148TH ST 98168,4039 S 148TH ST 98168,15051 MILITARY RD S 98188
BuildingNumber,3251,3251,4001,4039,15051
Fraction,,,,,
DirectionPrefix,S,S,S,S,
StreetName,148TH,148TH,148TH,148TH,MILITARY
StreetType,ST,ST,ST,ST,RD
DirectionSuffix,,,,,S
ZipCode,98168,98168,98168,98168,98188
Stories,1,1,1,2,1
BldgGrade,7,6,6,7,7
BldgGradeVar,0,0,0,0,0
SqFt1stFloor,920,620,1180,960,1240
SqFtHalfFloor,0,0,0,0,0
SqFt2ndFloor,0,0,0,800,0
SqFtUpperFloor,0,0,0,0,0
SqFtUnfinFull,0,0,0,0,0
SqFtUnfinHalf,0,0,0,0,0
SqFtTotLiving,920,620,1180,1760,1240
SqFtTotBasement,920,0,0,0,0
SqFtFinBasement,0,0,0,0,0
FinBasementGrade,0,0,0,0,0
SqFtGarageBasement,0,0,0,0,0
SqFtGarageAttached,0,0,0,400,0
DaylightBasement,,,,,N
SqFtOpenPorch,0,160,100,0,0
SqFtEnclosedPorch,0,0,0,0,0
SqFtDeck,0,0,380,110,0
HeatSystem,3,4,4,5,1
HeatSource,3,3,3,2,2
BrickStone,0,0,0,0,0
ViewUtilization,,,,,N
Bedrooms,3,1,3,3,2
BathHalfCount,0,0,0,1,0
Bath3qtrCount,0,0,0,0,0
BathFullCount,1,1,1,2,1
FpSingleStory,0,0,0,0,1
FpMultiStory,0,0,0,1,0
FpFreestanding,0,0,0,0,0
FpAdditional,0,0,0,0,0
YrBuilt,1931,1965,1965,1994,1920
YrRenovated,0,0,0,0,0
PcntComplete,0,0,0,0,0
Obsolescence,0,0,0,0,0
PcntNetCondition,0,0,0,0,0
Condition,3,3,3,3,3
AddnlCost,0,0,0,0,0

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [30]:
bldg_df = bldg_df[['Major', 'Minor', 'SqFtTotLiving', 'ZipCode']]

In [34]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514381 entries, 0 to 514380
Data columns (total 4 columns):
Major            514381 non-null int64
Minor            514381 non-null int64
SqFtTotLiving    514381 non-null int64
ZipCode          468541 non-null object
dtypes: int64(3), object(1)
memory usage: 15.7+ MB

In [35]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [36]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'])

ValueError: Unable to parse string "      " at position 949114

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [37]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [38]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

Did it work?

In [39]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049216 entries, 0 to 2049215
Data columns (total 4 columns):
Major           float64
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: float64(1), int64(1), object(2)
memory usage: 62.5+ MB

It worked! Let's do the same thing with the `Minor` parcel number.

In [40]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [41]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2049216 entries, 0 to 2049215
Data columns (total 4 columns):
Major           float64
Minor           float64
DocumentDate    object
SalePrice       int64
dtypes: float64(2), int64(1), object(1)
memory usage: 62.5+ MB

Now, let's try our join again.

In [42]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [43]:
sales_data

            Major   Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0        138860.0   110.0   08/21/2014     245000           1490   98002
1        138860.0   110.0   06/12/1989     109300           1490   98002
2        138860.0   110.0   01/16/2005      14684           1490   98002
3        138860.0   110.0   06/08/2005          0           1490   98002
4        423943.0    50.0   10/11/2014          0            960   98092
5        423943.0    50.0   05/14/1998          0            960   98092
6        423943.0    50.0   07/15/1999      96000            960   98092
7        423943.0    50.0   01/08/2001     127500            960   98092
8        423943.0    50.0   05/21/1998          0            960   98092
9        423943.0    50.0   01/10/2001          0            960   98092
10       403700.0   715.0   01/04/2013          0           1780   98008
11       403700.0   715.0   07/03/2013     464500           1780   98008
12       403700.0   715.0   02/21/2013     357000           1780   98008
13       403700.0   715.0   10/13/1995     142000           1780   98008
14       403700.0   715.0   02/22/2007     528000           1780   98008
15        98400.0   380.0   04/02/2014          0           2050   98058
16        98400.0   380.0   03/23/1994     139950           2050   98058
17        98400.0   380.0   03/29/2017     439500           2050   98058
18        98400.0   380.0   04/01/2014          0           2050   98058
19       330395.0  1610.0   06/07/2012     335000           2210   98038
20       330395.0  1610.0   08/26/2013     369900           2210   98038
21       330395.0  1610.0   06/27/1994     192950           2210   98038
22       330395.0  1610.0   09/13/2019     530000           2210   98038
23       330395.0  1610.0   08/22/2013     369900           2210   98038
24       330395.0  1610.0   11/10/1993     107500           2210   98038
25       330395.0  1610.0   02/26/1993          0           2210   98038
26       675260.0   940.0   03/06/1998     209950           2040   98031
27       675260.0   940.0   08/01/1995     191950           2040   98031
28       675260.0   940.0   09/13/2004     289950           2040   98031
29       795508.0   170.0   03/28/2008          0            980   98058
...           ...     ...          ...        ...            ...     ...
1464578  918630.0   400.0   05/26/1994     255000           3350   98074
1464579  511290.0   440.0   03/23/2011     221000           1350   98058
1464580  537980.0  3510.0   09/05/1989      89950           1400   98188
1464581  234430.0   165.0   12/30/1985      57500           1820   98004
1464582  234430.0   165.0   12/30/1985      57500           3440   98004
1464583  101550.0   260.0   06/17/1991          0           2070   98034
1464584  242006.0  9208.0   07/19/2018     259950            840   98022
1464585  611230.0    40.0   05/13/1999          0           2600   98166
1464586  155210.0    45.0   11/20/1991     195000           3280   98004
1464587  155700.0   100.0   04/20/2001     175000           1380   98031
1464588  926926.0    30.0   06/07/2001     294249           2460   98011
1464589  571190.0   140.0   01/15/2004     649000           3190   98074
1464590  259749.0   790.0   05/05/2013     535990           1800     NaN
1464591  122304.0  9179.0   08/30/1995      42500           3720   98178
1464592  329850.0   360.0   07/20/2018     715000           1170   98008
1464593  886030.0   550.0   07/16/2016     900000           2070   98052
1464594  405320.0   971.0   03/04/1999     171000           1600   98042
1464595  323650.0   170.0   07/17/1989      98000           1290   98007
1464596  334210.0  1025.0   09/01/1992          0           2280   98056
1464597  982870.0  2342.0   07/17/2018    1135000           1690     NaN
1464598  375470.0   210.0   04/27/1999          0           1270   98034
1464599  372080.0    85.0   11/13/2018          0           3330   98102
1464600  888700.0  1520.0   01/27/1987      73000           1560   98070
1464601  242006.0  9570.0   01/26/1983      30000           2760   98022
1464602   72106.0  9097.0   07/03/1991     185000           2130   98042
1464603   12303.0  9531.0   11/26/1990      53159           1140   98146
1464604  911350.0   170.0   03/18/1992     166000           2080   98042
1464605  209580.0   200.0   06/16/1989     132490           2200   98011
1464606  661000.0   580.0   03/02/1990     133000           2020   98107
1464607  618142.0   110.0   02/01/2007     414542           2547   98001

[1464608 rows x 6 columns]

In [44]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1464608 entries, 0 to 1464607
Data columns (total 6 columns):
Major            1464608 non-null float64
Minor            1464608 non-null float64
DocumentDate     1464608 non-null object
SalePrice        1464608 non-null int64
SqFtTotLiving    1464608 non-null int64
ZipCode          1341848 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 78.2+ MB

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [63]:
sales_data.loc[sales_data['ZipCode'].isna()].tail()

            Major   Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
1464543  940672.0   150.0   09/05/2018     564995           2700     NaN
1464554  123310.0   516.0   09/23/2001     599800           3180     NaN
1464575  894676.0  1260.0   05/04/2018    1049995           3470     NaN
1464590  259749.0   790.0   05/05/2013     535990           1800     NaN
1464597  982870.0  2342.0   07/17/2018    1135000           1690     NaN

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

*Note:* we can use [Boolean Indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing) to select all the rows where there are no missing zip codes

In [46]:
sales_data2 = sales_data.loc[~sales_data['ZipCode'].isna(), :]
sales_data2.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
3  138860.0  110.0   06/08/2005          0           1490   98002
4  423943.0   50.0   10/11/2014          0            960   98092

### An alternative method to drop missing is `.dropna()`

In [47]:
sales_data3=sales_data.dropna()
sales_data3.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
3  138860.0  110.0   06/08/2005          0           1490   98002
4  423943.0   50.0   10/11/2014          0            960   98092

# Your turn: Data Cleaning with Pandas

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [67]:
pd.set_option('display.max_row', 1000)
pd.set_option('display.max_columns', 50)

pd.options.display.max_seq_items = 2000

In [68]:
print(sales_data.SalePrice.value_counts())

0          496691
250000       5085
300000       5052
350000       4867
200000       4399
325000       4250
400000       4249
225000       4244
150000       4124
275000       4033
450000       4007
175000       3721
375000       3641
180000       3601
425000       3593
220000       3592
210000       3569
260000       3565
230000       3559
160000       3512
165000       3508
265000       3426
185000       3419
280000       3374
235000       3370
240000       3358
125000       3349
500000       3329
215000       3310
330000       3296
285000       3285
320000       3274
310000       3259
315000       3205
135000       3173
550000       3158
190000       3068
245000       3063
170000       3060
130000       3055
270000       3021
140000       3005
290000       2993
155000       2968
360000       2967
340000       2951
120000       2924
335000       2868
255000       2851
145000       2840
295000       2834
195000       2812
380000       2792
600000       2750
205000       2750
385000       2710
100000       2704
650000       2692
475000       2678
110000       2659
525000       2649
365000       2604
390000       2591
305000       2528
420000       2522
115000       2514
410000       2479
370000       2433
415000       2396
345000       2394
430000       2361
440000       2352
355000       2303
435000       2275
395000       2265
700000       2156
105000       2121
575000       2114
460000       2113
750000       2102
90000        1999
85000        1990
625000       1981
75000        1976
480000       1931
80000        1884
465000       1857
405000       1854
95000        1848
485000       1838
675000       1746
540000       1683
65000        1675
850000       1649
490000       1646
800000       1629
470000       1615
510000       1615
560000       1597
530000       1591
445000       1591
520000       1588
70000        1572
495000       1569
535000       1543
60000        1521
515000       1488
455000       1472
50000        1437
580000       1429
900000       1414
725000       1386
585000       1370
630000       1327
565000       1301
1100000      1296
299950       1263
610000       1244
1200000      1241
570000       1223
620000       1195
775000       1181
590000       1175
249950       1165
660000       1162
640000       1158
545000       1148
505000       1147
950000       1131
1000000      1128
635000       1110
55000        1097
615000       1094
199950       1092
1050000      1081
149950       1064
680000       1061
399950       1050
168000       1047
169950       1035
162000       1032
159950       1029
555000       1023
875000       1020
179950       1014
128000       1011
189000       1011
132000       1009
152000       1008
595000        999
142000        982
299000        980
148000        976
825000        974
169000        961
349950        949
157000        948
212000        944
720000        944
138000        942
118000        933
137000        931
139000        928
158000        926
40000         925
45000         924
189950        920
139950        920
229950        914
172000        912
685000        911
159000        908
179000        902
112000        901
1150000       897
399000        887
129000        887
182000        882
760000        879
665000        877
710000        876
149000        873
259950        873
1300000       872
127000        872
780000        872
178000        872
239950        871
129950        858
219000        855
239000        852
670000        849
249000        848
605000        846
279000        843
187000        841
289000        837
219950        837
229000        836
690000        835
167000        833
735000        833
730000        833
153000        829
218000        827
715000        824
232000        823
192000        813
117000        812
163000        809
147000        808
133000        804
1250000       800
269950        799
695000        795
144000        791
269000        791
136000        785
122000        780
134000        780
740000        779
199000        777
242000        777
259000        776
126000        775
177000        775
156000        770
279950        768
143000        766
154000        764
208000        758
237000        758
925000        751
173000        748
319000        747
227000        746
198000        740
164000        738
124000        738
252000        729
217000        727
174000        727
289950        725
645000        724
207000        723
765000        722
222000        722
329000        721
389000        720
840000        719
209000        719
228000        719
188000        716
108000        715
30000         708
186000        705
183000        702
339000        702
1350000       702
197000        700
123000        700
184000        698
272000        690
655000        690
127500        689
119000        688
35000         688
146000        685
262000        682
238000        680
92000         673
499950        673
312000        673
162500        671
137500        665
187500        664
206000        664
116000        664
114000        663
268000        662
369000        660
132500        658
176000        658
172500        654
349000        652
329950        652
247000        652
224000        648
1500000       646
166000        645
258000        642
975000        641
785000        639
107000        639
214000        634
1400000       633
339950        631
257000        630
810000        629
318000        628
226000        626
499000        624
216000        624
287000        624
248000        620
379000        619
167500        619
203000        619
196000        618
236000        618
142500        617
119950        616
209950        615
309000        613
860000        611
157500        610
223000        609
25000         608
194000        606
98000         605
359000        604
359950        604
830000        604
319950        604
820000        602
82000         601
705000        600
171000        600
147500        599
282000        598
131000        594
182500        591
449950        590
202000        587
204000        586
193000        584
72000         583
103000        581
109000        581
790000        581
141000        581
297000        576
152500        573
113000        573
134950        571
379950        570
267000        568
234000        567
278000        567
88000         565
233000        564
87000         558
770000        558
151000        557
292000        556
106000        556
243000        556
254000        550
102000        547
256000        547
82500         546
122500        544
419000        544
298000        542
880000        542
369950        541
308000        540
246000        537
745000        537
192500        537
78000         535
412000        535
87500         535
307000        534
599000        534
117500        532
224950        531
89000         530
439000        528
253000        527
124950        518
429000        518
835000        518
83000         516
960000        515
164950        514
76000         514
795000        514
104000        513
755000        513
244000        512
121000        511
277000        509
174950        507
273000        506
283000        505
288000        505
112500        504
129500        501
449000        501
68000         500
389950        500
317000        499
309950        497
93000         495
161000        495
213000        494
263000        493
352000        492
84000         489
276000        489
815000        488
328000        488
191000        487
96000         487
342000        486
20000         485
189500        484
97000         483
184950        483
221000        482
149500        482
181000        477
139500        477
327000        475
264000        474
338000        473
870000        472
286000        472
322000        471
910000        468
920000        467
262500        465
1600000       464
86000         464
306000        463
92500         463
284000        463
169500        463
237500        462
154950        460
266000        459
234950        458
865000        458
197500        455
357000        454
274000        453
368000        453
217500        451
247500        448
439950        448
599950        447
293000        447
348000        447
332000        443
119500        443
79000         443
231000        442
177500        441
805000        439
303000        439
214950        438
77000         438
10            436
302000        435
885000        433
99000         431
890000        431
337000        430
459000        429
94000         427
62000         427
89950         427
432000        427
333000        426
489000        426
128500        424
1450000       423
324950        421
211000        421
304000        420
257500        420
417000        420
358000        420
392000        418
387000        418
227500        417
294000        416
201000        415
199500        414
469000        412
324000        412
222500        412
429950        411
179500        411
99950         408
372000        407
274950        406
347000        406
67000         405
            ...
174633          1
184870          1
191009          1
188960          1
199197          1
1671500         1
1290250         1
964525          1
601950          1
6776            1
70233           1
684850          1
787450          1
988056          1
947124          1
467848          1
889800          1
844774          1
805875          1
801789          1
153136          1
1512600         1
245261          1
216595          1
204313          1
185888          1
181794          1
529272          1
570220          1
652100          1
738066          1
277245          1
316128          1
328410          1
344786          1
371407          1
375501          1
379587          1
402110          1
406204          1
422580          1
441005          1
430760          1
486039          1
167467          1
161332          1
96852           1
217617          1
601951          1
526202          1
980900          1
1138775         1
1116250         1
1122399         1
205343          1
140862          1
166442          1
176685          1
154160          1
156215          1
117314          1
84562           1
634703          1
751380          1
278269          1
304878          1
296682          1
356055          1
358100          1
376525          1
384705          1
399032          1
439980          1
446115          1
472732          1
464536          1
521860          1
36459           1
67162           1
680752          1
607060          1
60007           1
806900          1
335582          1
278266          1
265980          1
700200          1
581478          1
530303          1
1407185         1
145977          1
1360102         1
1800465         1
1696066         1
246278          1
219669          1
201244          1
331484          1
354001          1
368334          1
384710          1
401086          1
405176          1
425650          1
444069          1
513671          1
58977           1
75353           1
97874           1
106062          1
128579          1
138814          1
155190          1
149045          1
143928          1
139834          1
192032          1
175659          1
801785          1
1145937         1
1123418         1
224787          1
216599          1
173610          1
161328          1
111176          1
153140          1
151095          1
120388          1
122437          1
110155          1
91730           1
818161          1
531325          1
277241          1
328414          1
338651          1
336602          1
4535000         1
363215          1
385730          1
428719          1
502411          1
21108           1
64097           1
72285           1
92755           1
102988          1
109131          1
167468          1
204318          1
855005          1
665400          1
419504          1
407226          1
341722          1
313060          1
290545          1
270079          1
7170000         1
186918          1
872405          1
808950          1
1382622         1
244234          1
223760          1
191008          1
450215          1
1660            1
2107000         1
20085           1
36461           1
56935           1
124480          1
147003          1
165420          1
179755          1
196131          1
189984          1
206360          1
1143890         1
809975          1
830441          1
850915          1
180773          1
176683          1
214549          1
834538          1
355024          1
338648          1
330460          1
648001          1
631625          1
529279          1
1211442         1
164397          1
1709375         1
2086279         1
241160          1
232972          1
235023          1
222737          1
426669          1
438955          1
463519          1
481942          1
488083          1
490130          1
4735            1
2684            1
8825            1
23158           1
62051           1
78427           1
105038          1
109128          1
119367          1
160307          1
170542          1
17010           1
57958           1
294650          1
100934          1
182830          1
141874          1
135733          1
160313          1
154172          1
152125          1
76370           1
414397          1
72276           1
88668           1
86621           1
62057           1
469650          1
486042          1
174626          1
178720          1
223770          1
211472          1
815099          1
915400          1
542590          1
550778          1
585579          1
622425          1
593751          1
685880          1
661300          1
700195          1
290555          1
278257          1
315119          1
408240          1
412350          1
298727          1
511630          1
118350          1
97880           1
85598           1
40548           1
30329           1
517771          1
489113          1
357081          1
433828          1
421562          1
308961          1
306914          1
286460          1
784137          1
122444          1
99911           1
110146          1
146992          1
173603          1
216606          1
228888          1
202261          1
206355          1
251405          1
237060          1
1186868         1
824293          1
551802          1
690982          1
758533          1
305890          1
321258          1
306915          1
608095          1
88669           1
141875          1
137781          1
102980          1
127560          1
115278          1
74322           1
82526           1
371395          1
84575           1
55917           1
51823           1
630             1
31353           1
514701          1
139826          1
184876          1
205330          1
6255000         1
1146950         1
1210425         1
1220642         1
1280007         1
956327          1
534385          1
618328          1
593748          1
606034          1
646990          1
681785          1
663350          1
782088          1
418490          1
309985          1
358104          1
69207           1
212497          1
155197          1
108098          1
116302          1
118351          1
77395           1
89693           1
320234          1
54892           1
32377           1
429735          1
456360          1
444078          1
409265          1
241155          1
1072253         1
854999          1
852950          1
953255          1
955300          1
529268          1
559975          1
570208          1
592727          1
711469          1
756487          1
283388          1
262902          1
266996          1
271090          1
275184          1
593750          1
1224750         1
143932          1
226839          1
617300          1
602975          1
936880          1
928700          1
1881583         1
245262          1
200216          1
97878           1
183840          1
181793          1
189989          1
175660          1
153139          1
126532          1
611155          1
736030          1
273148          1
291575          1
283379          1
322276          1
350930          1
361161          1
395960          1
504463          1
31350           1
35432           1
64102           1
92756           1
84560           1
107085          1
162358          1
101960          1
73306           1
188965          1
1183800         1
591705          1
597850          1
603999          1
546675          1
982950          1
894925          1
1779999         1
75357           1
250368          1
260613          1
254470          1
256519          1
207391          1
172590          1
661307          1
272125          1
292599          1
308975          1
306924          1
319202          1
374479          1
403133          1
399035          1
429736          1
491158          1
487060          1
493193          1
3704            1
36456           1
61028           1
79455           1
176687          1
211486          1
1050745         1
281329          1
412337          1
389830          1
363209          1
375503          1
316130          1
322277          1
269051          1
235018          1
725786          1
635726          1
893900          1
822249          1
832494          1
1205300         1
443040          1
465563          1
488086          1
475792          1
74332           1
94806           1
98888           1
115264          1
145983          1
162359          1
172588          1
168490          1
197144          1
215569          1
229896          1
2085250         1
3490000         1
1186875         1
216593          1
207388          1
1001360         1
311023          1
270075          1
272124          1
636750          1
597851          1
544625          1
991131          1
202266          1
1737001         1
250371          1
233995          1
244238          1
223764          1
201243          1
327399          1
325350          1
317154          1
362184          1
378560          1
423606          1
419508          1
415410          1
3705            1
26228           1
48751           1
95830           1
87634           1
108108          1
101961          1
136762          1
161334          1
1290123         1
Name: SalePrice, Length: 83717, dtype: int64

In [71]:
sales_data = sales_data.loc[(sales_data['SalePrice']>0) & (sales_data['SqFtTotLiving'] != 0)]

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 967905 entries, 0 to 1464607
Data columns (total 6 columns):
Major            967905 non-null float64
Minor            967905 non-null float64
DocumentDate     967905 non-null object
SalePrice        967905 non-null int64
SqFtTotLiving    967905 non-null int64
ZipCode          880984 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 51.7+ MB

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

What's the right thing to do with missing values?

In [72]:
# Read the error message and decide how to fix it.
# Note: using errors='coerce' is the *wrong* choice in this case.
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

165    NaN
166    NaN
167    NaN
169    NaN
170    NaN
Name: ZipCode, dtype: object

### 3. Add a column for PricePerSqFt

In [73]:
sales_data['PricePerSqFt'] = sales_data['SalesPrice'] / sales_data['SqFtTotLiving']

KeyError: 'SalesPrice'

### 4. Subset the data to 2019 sales only.

We can assume that the DocumentDate is approximately the sale date.

### 5. Subset the data to zip codes within the City of Seattle.

You'll need to find a list of Seattle zip codes!

### 6. What is the mean price per square foot for a house sold in Seattle in 2019?

Don't just type the answer. Type code that generates the answer as output!